body{
  text-align: center;
  font-family: open sans, sans-serif;
  background-color: #8a71c9;
  color: #ffff;
  margin: 0;
}

h1{
  font-size: 60px;
  font-weight: -300;
}
  
h2{
  color: #2a0074;
  font-size: 40px;
}

h3{
  font-size: 22px;
  font-style: italic;
}

p{
  font-size: 20px;
  line-height: 1,5;
}
  
.titulo-verde{
  color: #04ff9f;
}
  
.titulo-vermelho{
  color: #ff9e9e;
}
  
.titulo-amarelo{
  color: #ffe36d;
}
  
section{
  max-width: 60%;
  margin: 0 auto;
}

img{
  width: 100%;
}

ul{
  list-style-type: none;
}