body{
    text-align: center;
    font-family: open sans, sans-serif;
    background-color: #8a71c9;
    color: #ffff;
  }
  
  h2{
    color: #2a0074;
  }
  
  .titulo-verde{
    color: #04ff9f;
  }
  
  .titulo-vermelho{
    color: #ff9e9e;
  }
  
  .titulo-amarelo{
    color: #ffe36d;
  }
  
  section{
    background-color: #826d8a;
    max-width: 60%;
    margin: 0 auto;
  }